* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

textarea {
  height: 390px;
  max-height: 390px;
  resize: none;
  min-height: 390px;
}

.acc {
  border-radius: 5px;
  padding: 6px;
  background-color: rgb(66, 66, 66);
  font-size: 20px;
  color: white;
  font-weight: bold;
}

@media (max-width: 840px) and (min-width: 645px) {
  .hide-links {
    display: none;
  }
}

@media (max-width: 930px) and (min-width: 850px) {
  .logo {
    display: none;
  }
}

@media (max-width: 380px) {
  .logo {
    display: none;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
